.consejo-administracion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.miembro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px; /* Limita el ancho máximo de la fila de tarjetas */
}

.miembro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 10px;
  margin: 10px 0; /* Espacio superior e inferior */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
}

.miembro img.miembro-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.miembro h3 {
  margin-top: 10px;
  text-align: center;
}

.miembro h4 {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  color: #555;
  font-size: 0.9em;
}

.miembro p {
  text-align: center;
  font-size: 0.85em;
  color: #333;
}

@media (min-width: 1200px) {
  .miembro {
    width: 23%; /* 4 tarjetas por fila */
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .miembro {
    width: 30%; /* 3 tarjetas por fila */
  }
}

@media (max-width: 768px) {
  .miembro {
    width: 45%; /* 2 tarjetas por fila */
  }
}

@media (max-width: 480px) {
  .miembro {
    width: 90%; /* 1 tarjeta por fila */
  }
}
