/* src/styles/retratos-oficiales.css */

.retratos-oficiales {
  max-width: 1200px; /* Ajusta el ancho máximo según sea necesario */
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.retratos-oficiales h1,
.retratos-oficiales h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.retratos-oficiales h2 {
  margin-top: 40px;
}

.retrato-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre columnas y filas */
}

.retrato {
  flex: 1 1 calc(25% - 20px); /* Ajusta el tamaño de las columnas */
  box-sizing: border-box;
  margin-bottom: 20px;
}

.retrato img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px; /* Opcional: Añade bordes redondeados */
}

.retrato p {
  font-size: 1em;
  line-height: 1.6;
}

.retrato a {
  color: #0056b3;
  text-decoration: none;
  font-weight: bold;
}

.retrato a:hover {
  text-decoration: underline;
}

.aviso-legal {
  margin-top: 40px;
  font-size: 1em;
}

/* Media Queries para ajustar el diseño en diferentes tamaños de pantalla */

@media (max-width: 1200px) {
  .retrato {
    flex: 1 1 calc(33.333% - 20px); /* 3 columnas */
  }
}

@media (max-width: 992px) {
  .retrato {
    flex: 1 1 calc(50% - 20px); /* 2 columnas */
  }
}

@media (max-width: 768px) {
  .retrato {
    flex: 1 1 100%; /* 1 columna */
  }
}

@media (max-width: 576px) {
  .retratos-oficiales {
    padding: 10px;
  }

  .retrato p {
    font-size: 0.875em;
  }
}
